.logo {
  height: 48px;
  margin: 16px;
  img {
    width: 100%;
  }

}

.site-layout .site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout .site-layout-background {
  background: #141414;
}

#auth-status {
  float: right;
  &.ant-menu-item-selected, &.ant-menu-item-active {
    background-color: inherit;
    cursor: default;
  }
  &.ant-menu-item-active {
    color:#ffffffa6;
  }
}

.hello-user {
  color: #ffffff;

}

.sub-menu-item {
  font-size: 12px;
}

#user-info-page {
  #base-info {
    margin: 0 0 0 48px;
  }
  .base-info-text {
    color: #ffffff;
  }

  #table-user-info {
    margin: 0 48px 0 64px;
  }
}

.ant-layout-header {
  height: 32px;
  line-height: 32px;
}